<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
            background-size: cover;
        }

        th,
        td {
            font-style: oblique;
            font-weight: 600;
            background-color: seashell;
        }
    </style>
    <title>Student</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: slateblue;">
        <a class="navbar-brand" href="/" style="font-style: italic; font-weight: 900; color: ghostwhite;">Seqool</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/student" style="font-weight: 600; color: ghostwhite;">Student</a>
            <a class="nav-item nav-link active" href="/subjects" style="font-weight: 600; color: ghostwhite;">Subjects</a>
        </div>
        <div class="ml-auto">
        <a class="btn btn-primary" href="/register" role="button"
            style=" background-color: transparent;">Register</a>
        <a class="btn btn-primary" href="/login" role="button" style=" background-color: transparent">Login</a>
        </div>
    </nav>
    <h1 style="text-align: center;">Welcome to Seqool</h1>
</body>
<footer>
    <div style="position: relative">
        <p style="position: fixed; bottom: 0; width:100%; text-align: left">Photo by Sharon McCutcheon on Unsplash</p>
    </div>
</footer>

</html>